.App {
  text-align: center;
  margin: 0.3em auto;
}
h1,h2,h3,p{
  margin: 0
}
.page-header{
  /* background: black; */
  color: black;
  padding: 0;
  padding-top: 1.5em; 
}
.page-header-s{
  color: black;
  padding: 1.2em; 
  padding-top: 2em;
}
.page-header h2{
  margin: 0;
}