.otp-style{
    width: 40em;
    margin: 0 auto
}
.otp-number{
    color: rgb(46, 46, 138);
    padding-bottom: 0;
    font-size: 5em;
    display: inline-block;
}
.barcode-image img{
    width: 22em;
    height: auto
}
.counter-style p{
    padding-top: 0;
}
.counter-style{
    padding-bottom: 1.6em;
    color: rgb(128, 83, 0);

}

.otp{
    text-align: right;
}
.counter{
    text-align: left;
}
.content{
    text-align: center;
}
.line{
    margin: 0.5rem;
}
svg {
    width: 40px;
    height: 40px;
    vertical-align: unset;
    margin-left: .5em;
    /* transform: rotateY(-180deg) rotateZ(-90deg); */
}

svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 4px;
    stroke: orange;
    fill: none;
    /* animation: countdown 30s linear infinite forwards; */
}
text{
    font-size: .8em;
    /* transform: rotateX(-180deg); */
    /* transform: scaleY(-1);
    transform: rotateY(-180deg) rotateZ(90deg); */
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 113px;
    }
}

@media (max-width: 767px){
    .otp-style {
        width: unset;
    }
}
@media (max-width: 575px){
    .otp {
        text-align: center;
    }
    .otp-number{
        padding-bottom: 0;
    }
    .counter{
        text-align: center
    }
    .counter-style p{
        padding-top: 0;
    }
    .counter-style{
        padding-bottom: 1.6em;
    }
}
